.mainPage {
  display: grid;
  grid-template-columns: 52px 1fr;
}
.mainPage--maintenance {
  display: grid;
  grid-template-columns: 52px 1fr 1fr;
}

body {
  margin: 0;
  max-width: 320px;
  max-height: 240px;
}
.header {
  margin: 0;
  background-color: #c8d8dd;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  grid-column: 2 / span 3;
  grid-template-columns: 23px 1fr;
  width: 100%;
  height: 23px;
}
.mainMenu {
  background-color: #5598b2;
  padding-top: 23px;
  grid-row: 1 / span 3;
}
.mainMenu__icons {
  background-color: #6cb3cc;
  display: flex;
  flex-wrap: wrap;
  padding: 14px;
}
.mainMenu__icons--active {
  background-color: white;
}
.loginPage {
  display: grid;
  grid-template-columns: 59px 1fr 72px;
  grid-template-rows: 1fr 1fr 1fr;
  width: 268px;
  height: 217px;
}
.loginPage__header {
  display: flex;
  justify-content: center;
  grid-column-start: 2;
  margin: 4px;
}
.loginPage__password__bubble {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #c8d8dd;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 0;
}
.loginPage__numpad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-start: 2;
  grid-row-start: 3;
}
.loginPage__password {
  display: flex;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column: span 3;
  justify-content: space-evenly;
  margin: 0 60px 0 40px;
}
.loginPage__numpad__numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6cb3cc;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 3px;
}
.loginPage__numpad__numbers--link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6cb3cc;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 3px;
}
.loginPage__numpad__numbers--link:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6cb3cc;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 3px;
}
.loginPage__numpad__numbers:active {
  background-color: white;
  outline: 3px solid #6cb3cc;
  color: grey;
}
.loginPage__numpad__numbers:hover {
  cursor: pointer;
}

@keyframes progress {
  0% {
    --percentage: 0;
  }
  100% {
    --percentage: var(--value);
  }
}

@property --percentage {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
.progressBarSection {
  grid-column: span 2;
}
.progressBar {
  --percentage: var(--value);
  --primary: #ffbc10;
  --secondary: #d9d9d9;
  --size: 150px;
  animation: progress 2s 1s forwards;
  width: var(--size);
  aspect-ratio: 2/1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-left: 59px;
}
.progressBar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    from 0.75turn at 50% 100%,
    var(--primary) calc(var(--percentage) * 1% / 2),
    var(--secondary) 0
  );
  mask: radial-gradient(at 50% 100%, white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(at 50% 100%, #0000 55%, #000 0);
  -webkit-mask-mode: alpha;
  overflow: hidden;
  border-radius: 50% / 100% 100% 0 0;
}
.progressBar::after {
  counter-reset: percentage var(--value);
  content: "399/999";
  font-size: calc(var(--size) / 7);
}
.saltdosering {
  display: flex;
  justify-content: center;
  margin: 1px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #76dd46;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #e42b2b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e42b2b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.toggleSwitchTitle {
  margin: 0;
}
.toggleSwitch {
  grid-row-start: 3;
  display: grid;
  place-items: center;
}
.standbyScreen__ok {
  background-color: #76dd46;
}
.standbyScreen__icon {
  width: 125px;
  margin-left: 107px;
  margin-top: 59px;
}
.standbyScreen__error {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #e42b2b;
  width: 320px;
  height: 240px;
}
.standbyScreen__closeIcon {
  width: 25px;
  grid-column-start: 3;
  margin-left: 80px;
}
.standbyScreen__errorIcon {
  width: 67px;
  grid-column-start: 1;
  margin: 20px 0 0 20px;
}
.standbyScreen__resetAlarm {
  grid-column-start: 2;
  text-decoration: none;
  color: white;
  border: solid white;
  border-radius: 20px;
  border-width: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.standbyScreen__errorMessage {
  grid-column: span 2;
  color: white;
}
.standbyScreen__warning {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #ffbc10;
  width: 320px;
  height: 240px;
}
.standbyScreen__warningIcon {
  width: 67px;
  grid-column-start: 1;
  margin: 15px 0 0 20px;
}
.standbyScreen__warningMessage {
  grid-column: span 2;
  color: white;
  margin-top: 35px;
  margin-bottom: 60px;
}
