.Header {
  width: 315px;
  height: 40px;
  background-color: #b8f2ff;
  padding-top: 13px;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Icons {
  border-radius: 5px;
  cursor: pointer;
}

.IconTilstand {
  border-radius: 5px;
  cursor: pointer;
  justify-content: left;
  flex: 1;
}

.HomeScreen {
  width: 320px;
  height: 180px;
  background-color: #00b0eb;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.CommonRegionsLeft {
  width: 140px;
  height: 170px;
  background-color: #b8f2ff;
  margin: 5px;
  padding-left: 10px;
  float: right;
  text-align: center;
}

.LeftH1 {
  font-size: medium;
}

.LeftH2 {
  color: green;
  font-size: small;
}

.LeftH3 {
  font-size: medium;
}

.CommonRegionsRight {
  width: 140px;
  height: 170px;
  background-color: #b8f2ff;
  margin: 5px;
  padding-right: 10px;
  float: right;
  text-align: center;
}

.RightH1 {
  font-size: medium;
}

#BuyButton {
  background-color: #18ff03;
  color: #000000;
  font-weight: bold;
  padding: 10px 45px;
  text-align: center;
  font-size: 10px;
  border-radius: 10px;
  cursor: pointer;
}

#BuyButton2 {
  background-color: #eeff00;
  color: #000000;
  font-weight: bold;
  padding: 11px 15px;
  text-align: center;
  font-size: 10px;
  border-radius: 10px;
  cursor: pointer;
}
