body {
  display: grid;
  gap: 30px;
  margin: 50px;
}
body a {
  text-decoration: none;
  color: black;
}

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(37, 155, 205, 1);
}
.index__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1100px;
  height: 600px;
  padding: 30px;
  margin-top: -45px;
  background: linear-gradient(
    to top,
    rgba(37, 155, 205, 1),
    rgba(182, 225, 249, 1)
  );
}
.index__logo {
  width: 300px;
  margin-right: -50px;
}
.index__link-start button {
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-shadow: 0 0 10px rgba(182, 225, 249, 1);
  width: 200px;
  font-size: 50px;
  border-radius: 25px;
  border: double 2px rgba(182, 225, 249, 1);
  box-shadow: 0 0 20px rgba(182, 225, 249, 1),
    inset 0 0 20px rgba(182, 225, 249, 1);
  margin-top: 30px;
  background-color: rgba(37, 155, 205, 1);
  transform: scale(0.3s);
}
.index__link-start button:hover {
  width: 250px;
  font-size: 55px;
  color: white;
}
.index__headline {
  font-size: 100px;
  margin: 1px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.index_sta-design {
  font-size: 80px;
  text-align: center;
  margin: 0px;
  font-family: exo, sans-serif;
}
.index__from {
  font-size: 60px;
  margin: 0px;
  font-family: Dancing Script, cursive;
}

.display {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 240px;
  align-items: center;
  font-family: lato, sans-serif;
  font-weight: bold;
  border: solid 1px black;
}
.start-green {
  background-color: rgba(119, 242, 89, 1);
}
.start-yellow {
  background-color: rgba(240, 234, 92, 1);
}
.start-yellow h3 {
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
}
.start-red {
  background-color: rgba(246, 90, 90, 1);
}
.start-red h3 {
  font-size: 30px;
  text-align: center;
  color: white;
}
.logo {
  width: 200px;
  height: 132.36px;
  margin-left: 35px;
}
.logo__second {
  width: 88px;
  height: 55px;
  margin-top: auto;
  justify-self: last baseline;
  margin-bottom: 15px;
}
.start__values {
  display: flex;
  justify-content: space-between;
  width: 210px;
  height: 25px;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.3);
  border: solid 0.01em rgba(217, 217, 217, 0.6);
  border-radius: 8px;
  margin-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
}
.start_values-number {
  font-weight: normal;
  background-color: rgba(217, 217, 217, 0.8);
  padding-left: 3px;
  padding-right: 3px;
  border: solid 0.3px rgba(217, 217, 217, 1);
  border-radius: 5px;
}
.values_number-01 {
  margin-left: 18px;
}

header {
  width: 320px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    to right,
    rgba(37, 155, 205, 1),
    rgba(182, 225, 249, 1)
  );
}
.header__logo img {
  height: 28px;
}
.header__logo {
  align-self: center;
  padding: 5px;
}
header h3 {
  align-self: center;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.overview {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 15px;
  font-family: lato, sans-serif;
}
.overview__card {
  width: 130px;
  border-radius: 10px;
  text-align: center;
  line-height: 7px;
  background: linear-gradient(
    to bottom,
    rgba(182, 225, 249, 1),
    rgba(37, 155, 205, 1)
  );
}
.overview__card h3 {
  margin-top: 10px;
  align-self: center;
  font-size: 16px;
  text-transform: uppercase;
}
.overview__card p {
  color: white;
}
.overview__value {
  background-color: white;
  padding: 4px;
  color: black;
  border: solid 0.0001em;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.718);
}

.system__info {
  display: flex;
  flex-direction: column;
  gap: auto;
  margin-top: 10px;
  margin-bottom: 5px;
}
.button__system {
  display: flex;
  justify-content: center;
}
.button__system h3 {
  text-align: center;
  align-items: center;
}
.display__system {
  width: 111px;
  height: 45px;
  text-align: center;
  align-items: center;
  margin-top: 0px;
  border: solid 1px black;
}
.button__system button {
  text-transform: uppercase;
  height: 46px;
  width: 70px;
}
.button__off {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: inset 3px 3px 5px rgb(247, 246, 246);
}
.button__off:active {
  background-color: rgba(247, 50, 50, 1);
  color: white;
}
.button__on {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.button__on:active {
  background-color: rgba(119, 242, 89, 1);
  color: white;
}
.button__off-style {
  background-color: rgba(247, 50, 50, 1);
  color: white;
}
.button__on-style {
  background-color: rgba(119, 242, 89, 1);
  color: white;
  box-shadow: inset -3px 3px 5px rgb(247, 246, 246);
}
.system__on {
  background-color: rgba(240, 234, 92, 1);
}

.menu__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: auto;
}
.button__menu {
  width: 250px;
  height: 35px;
  text-transform: uppercase;
  background: linear-gradient(
    to bottom,
    rgba(182, 225, 249, 0),
    rgba(182, 225, 249, 1)
  );
  border-radius: 10px;
  border: solid 0.1px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 6px;
  font-size: 20px;
}
.button__menu a {
  color: black;
}

.drift {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
  gap: 10px;
}
.drift__card {
  width: 95px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid 0.5px rgba(37, 155, 205, 1);
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    rgba(183, 229, 249, 1),
    rgba(183, 229, 249, 0)
  );
}
.drift__arrow {
  display: flex;
  align-items: flex-end;
  margin-top: auto;
  width: 300px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.drift__arrow img {
  width: 30px;
}
.drift__button {
  background-color: rgba(37, 155, 205, 1);
  color: white;
  box-shadow: inset 2px 2px 6px rgba(217, 217, 217, 0.9),
    2px 2px 5px rgb(43, 42, 42);
  align-items: last baseline;
  width: 89px;
  height: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  border: outset 0.5px rgba(183, 229, 249, 0.6);
}
.drift__number {
  background-color: white;
  padding-top: 3px;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: 3px;
  width: 89px;
  height: 20px;
  border: solid 0.5px rgba(37, 155, 205, 1);
  border-radius: 5px;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.718);
}
.drift__headline {
  align-items: first baseline;
  margin-top: 5px;
  margin-bottom: auto;
  font-size: 18px;
}
.drift__03 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.drift__03-cards {
  display: grid;
  gap: 5px;
}
.drift__card-03 {
  background: linear-gradient(
    to right,
    rgba(183, 229, 249, 1),
    rgba(183, 229, 249, 0)
  );
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 199px;
  height: 42px;
  border: outset 0.5px rgba(37, 155, 205, 1);
}
.drift__card-03 p {
  text-align: center;
  background-color: white;
  padding-top: -4px;
  width: 106px;
  margin-bottom: 3px;
  margin-right: 2px;
  margin-top: auto;
  align-self: flex-end;
  border: solid 0.5px rgba(37, 155, 205, 1);
  border-radius: 6px;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.718);
}
.card__03-headline {
  font-size: 16px;
  margin-bottom: -20px;
  margin-top: 1px;
  margin-left: 2px;
  align-self: flex-start;
}
.numberpad {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  justify-content: center;
}
.serviceHeading {
  font-size: 20px;
  /*font-family: "Lato", sans-serif;*/
  text-align: center;
}
.password {
  text-align: center;
  /*margin: 10px auto;
  display: block;*/
}
.numberpad__number {
  width: 35px;
  height: 35px;
  background-color: #e1eaef;
}
.numberpad__enter {
  width: 70px;
  height: 70px;
  background-color: #e1eaef;
  grid-row: 1 / 3;
  grid-column: 6;
}
.numberpad__escape {
  width: 35px;
  height: 35px;
  background-color: #e1eaef;
}
.numberpad__delete {
  width: 35px;
  height: 35px;
  background-color: #e1eaef;
}
.language {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 320px;
  max-height: 240px;
  gap: 5px;
  padding: 5px;
  margin: 5px;
}
.language__flagButton {
  display: flex;
  padding: 5px;
  width: 143px;
  height: 30px;
  gap: 5px;
  border-radius: 5px;
  background-color: #b6e1f9;
  border: none;
  font-family: "Lato", sans-serif;
}
.language__flagButton:active {
  background-color: #00b0eb;
}
.language__flagIcon {
  max-width: 32px;
  max-height: 20px;
  border-radius: 4px;
}
