
.animalCard{
background-color: bisque;
max-width: 300x;
padding: 50px;
margin: 2rem;
border-radius: 20px;
}


.animalCard__Heading{
    color: blue;
}

.animalCard__discrition{
color: rgb(0, 0, 0);
font-size: medium;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight:bold;
}

.animalCard__button{
    background-color: black;
    color: orange;
}

.contactHospital{ 
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: red;
    max-width: 500px;

}

.contactHospital__img{
    max-width: 100px;
    height: 100px;
}

.contactHospital__discription{
display: grid;
grid-template-columns: 2fr 3fr;
   
}