body{

    background-color: rgb(233, 233, 233);

    padding: 0;

    margin: 0;

    overflow-x: hidden;

    text-align: center;

}

header{

    background-color: rgb(177, 177, 177);

    padding: 15px;

    box-shadow: 0 0 3px ;

}

header li {

    display: inline;

    padding-left: 45px;

}

header li a{

    color: rgb(255, 255, 255);

    text-decoration: none;

    padding: 250px;

}

header li img{

    width: 180px;

    float: left;

    margin-top: -20px;

}

.hero {
    background-image: url('images/images/roast.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 100px;

}

.introtekst p {
    font-size: 18px;
    padding: 30px;
}

.image-container {
    display: flex;
}

.image-box {
    flex: 1;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

footer {
    background-color: rgb(177, 177, 177);
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 25px;
}