@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Covered+By+Your+Grace&family=Jacques+Francois&family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Covered+By+Your+Grace&family=Jacques+Francois&family=La+Belle+Aurore&family=Roboto:wght@100;300&display=swap");
.tape{
  display: none;
}
p{
  font-size: 19px;
  line-height: 1.9;
}
.menu__list {
  display: flex;
  justify-content: space-around;
}
.menu__link {
  text-decoration: none;
  color: black;
  font-family: "Caveat", cursive;
  font-family: "Covered By Your Grace", cursive;
  font-family: "Jacques Francois", serif;
  font-family: "La Belle Aurore", cursive;
  font-weight: bolder;
  font-size: 20px;
  border: none;
  background-color: white;
  cursor: pointer;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu {
  padding-top: 8px;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: span 3;
}
.logo{
  width: 250px;
}
.frontpagePost {
  margin-inline: auto;
  margin-top: 50px;
  box-shadow: 5px 10px 27px rgba(0, 0, 0, 0.2);
  padding: 15px 15px 70px 15px;
  max-width: 400px;
  min-width: 100px;
  text-align: center;
  justify-self: center;
  transition: transform 0.3s ease-in-out;
}
@keyframes swing {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20%,
  60% {
    transform: rotate(1deg);
  }
  40%,
  80% {
    transform: rotate(-1deg);
  }
}
.frontpagePost:hover {
  animation: swing 1.2s ease;
}
.frontpagePost__img {
  max-width: 100%;
}
.frontpagePost__header {
  font-family: "Caveat", cursive;
  font-family: "Covered By Your Grace", cursive;
  font-family: "Jacques Francois", serif;
  font-family: "La Belle Aurore", cursive;
  font-size: 30px;
  transform: rotate(2deg);
}
.post {
  margin: 50px auto 50px auto;
  box-shadow: 5px 10px 27px rgba(0, 0, 0, 0.2);
  padding: 15px 15px 70px 15px;
  max-width: 400px;
  min-width: 100px;
  text-align: center;
}
.post__header {
  font-family: "Caveat", cursive;
  font-family: "Covered By Your Grace", cursive;
  font-family: "Jacques Francois", serif;
  font-family: "La Belle Aurore", cursive;
  font-size: 30px;
  transform: rotate(2deg);
}
.post__img {
  max-width: 100%;
}
.post__description {
  grid-column: span 3;
  margin: auto 20% 50px 20%;
}
.hero {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  grid-column: span 3;
}
.hero__image {
  width: 100vw;
  grid-column: span 3;
}

.hero__image--small {
  width: 300px;
  border: solid 5px white;
  position: absolute;
  max-width: 90px;
}


body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
}

.hero__text {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  animation: bounce 2s linear infinite;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 35px;
  grid-column: span 3;
  font-family: "Caveat", cursive;
  font-family: "Covered By Your Grace", cursive;
  font-family: "Jacques Francois", serif;
  font-family: "La Belle Aurore", cursive;}
#i1,
#i2,
#i3,
#i4,
#i5,
#i6 {
  display: none;
}
.imageSlider {
  max-width: 100%;
  height: 500px;
}
.imageSlider__item {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 520px;
  display: grid;
}
.imageSlider__item img {
  background-color: white;
  max-width: 100%;
  margin: auto;
  display: block;
}
.imageSlider__polaroid {
  box-shadow: 5px 10px 27px rgba(0, 0, 0, 0.08);
  background-color: white;
  width: 25%;
  height: 55%;
  padding: 10px 10px 120px 10px;
  justify-self: center;
  font-family: "Caveat", cursive;
  font-family: "Covered By Your Grace", cursive;
  font-family: "Jacques Francois", serif;
  font-family: "La Belle Aurore", cursive;
  text-align: center;
  min-width: 270px;
}
.imageSlider #nav_slide {
  display: block;
  margin-top: 450px;
  width: 100%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}
#nav_slide .dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(90, 89, 89, 0.6);
  transition: 0.4s;
}
#nav_slide .dots:hover {
  cursor: pointer;
  background-color: black;
  transition: 0.25s;
}
.imageSlider__item {
  z-index: -1;
}
#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five ,
  #i6:checked ~ #six 
	{z-index: 9; ;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5,
  #i6:checked  ~  #nav_slide #dot6
	{ background-color: rgba(0, 0, 0, 0.9);}
  .footer{
    background-color: lightblue;
  }
  .footer__icon {
    width: 50px;
  }
  .footer_copyright{
    text-align: center;
  }
  .footer__social{
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
    animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    animation: heartBeat 2s linear infinite;
    overflow: hidden;
  }
  .footer__description{
    display: none;
    text-align: center;
    font-style: italic;
    width: 500px;
    margin: 20px auto 0 auto;
    margin-bottom: 0;
  }
@keyframes scroll {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 600px) {
  body{
    display: block;
  }
  .post--small {
    transform: rotate(0);
    
  }
  .post--rotateLeft {
    transform: rotate(0);
  }
  .menu ul {
    display: flex;
    justify-content: flex-end;
  }
  .menu {
    position: relative;
    z-index: 999;
  }
  .menu__burger {
    display: block;
    width: 25px;
  }
  .menu li {
    display: inline-block;
  }
  .menu__item {
    color: rgb(0, 0, 0);
    display: block;
    padding: 10px 20px;
  }
  .menu ul ul {
    position: absolute;
    top: 100%;
    display: none;
  }
  .menu ul ul li {
    display: block;
  }
  .menu li:hover ul {
    display: block;
  }
  .menu ul ul li a:hover {
    background-color: #555;
  }
  .menu__list {
    background: white;
    right: 0;
  }
  
}
@media (min-width:600px){

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  line-height: 1.7;
  font-family: font-family: 'Caveat', cursive;
  font-family: 'Covered By Your Grace', cursive;
  font-family: 'Jacques Francois', serif;
  font-family: 'La Belle Aurore', cursive;
  font-family: 'Roboto', sans-serif;;
}
.footer__description{
  display: block;
}
.footer__social::before{
  content: "__________________________";
  color: rgb(45, 45, 80);
}
.footer__social::after{
  content: "__________________________";
  color: rgb(45, 45, 80);
}
.tape {
  display: block;
  box-shadow: 5px 10px 27px rgba(0, 0, 0, 0.1);
  background-color: #dbd8be;
  width: 100px;
  height: 50px;
  position: absolute;
  border-right: 1px #dbd8be;
  border-left: 1px #dbd8be;
  opacity: 0.5;
  transform: rotate(-50deg);
}
.menu__burger {
  display: none;
}

.footer {
  grid-column: span 3;
}
.tape--left {
  right: 105vmin;
  top: 18vmin;
}
.tape--right {
  right: 10vmin;
  top: 18vmin;
  transform: rotate(40deg);
}

}
@media (min-width:1170px){
  .post--small {
    max-height: 250px;
    transform: rotate(5deg);
  }
  .post--rotateLeft {
    transform: rotate(-5deg);
  }
  .hero__image--small{
    max-width: 300px;
  }
  .menu__link{
    font-size: 30px;
  }
  .tape--left {
    right: 13vmin;
    top: -3vmin;
  }
  .tape--right {
    right: 13vmin;
    top: -3vmin;
    transform: rotate(40deg);
  }
  
}

